extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p color of the van is #{item.vancolor}
          p model of the van #{item.vanmodel}
          p Cost of the van is #{item.vanprice}
  script.
    function buy(N) {
      N=N+1;
      alert('You purchased item '+N);
    }  

